.kartlar-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.kart-container{
    width: 32.5%;
    background-color: white;
    border-radius: 0.3rem;
}
.kart{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #48b42c;
    border-radius: 0.3rem;
    font-size: small;
    font-weight: 900;
    width: 90%;
    margin: 1rem auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.kart img{
    width: 30%;
    margin: 0 auto;
    mix-blend-mode: multiply;
}