.tab-container{
    width: 40%;
    border: 1px solid black;
    background-color: white;
   margin-left: 7.5rem;
    
}
.title{
   background-color:green;
   color: white;
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-weight: 700;
   padding-left: 0.5rem;
}

.tarih-maclar{
    display: flex;
    justify-content: space-around;
    
}
.maclar{
    margin-top: 0.9rem;
    width: 80%;
 
}  
.date{
    font-weight: 700;
    margin-top: 1rem;
}

   
