.fikstür-lig-header{
    display: flex;
    background-color: #353B48;
    color: white;
}
.fikstür-lig-header img{
    max-width: 30px;
    }
.fikstür-lig-header p{
    margin: auto 0;
    padding-left: 0.5rem;
    }
.logo-name{
display: flex;
}
.ihtimal{
display: flex;
display: none;
}
.tek-mac{
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
 .date-area{
     background-color: #FFFFFF;
     display: flex;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
 }   
 .date-area-data-arrows{
     margin-left: 0.5rem;
 }
@media(min-width:675px){
    .ihtimal{
      display: inline;
      display: flex;
      margin-right: 1rem;
    }
    .ihtimal p{
       margin-right: 1rem;
    }
    .fikstür-lig-header{
      justify-content: space-between;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
     
    }
    .fikstür-text{
        width: 100%;
        font-weight: bolder;
        background-color: #48b42c;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
   
   
   
}    