.fikst端r-lig-header{
    display: flex;
    background-color: white;
}
.fikst端r-lig-header img{
    max-width: 30px;
    mix-blend-mode: multiply;
    }
.fikst端r-lig-header p{
    margin: auto 0;
    padding-left: 0.5rem;

    }
.logo-name{
display: flex;
}
.ihtimal{
display: flex;
display: none;
}
.tek-mac{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }

@media(min-width:675px){
    .ihtimal{
      display: inline;
      display: flex;
      margin-right: 1rem;
    }
    .ihtimal p{
       margin-right: 1rem;
    }
    .fikst端r-lig-header{
      justify-content: space-between;
    }
}    