.macincele-allpage{
    display:flex;
    flex-direction: column;
}
.macincele-header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.macincele-sonuc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #353B48;
}
.home-team-container{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

}
.home-team-image-container{
    background-color: white;
    margin: auto 1rem;
    border-radius: 0.3rem;
    width: 20%;
}
.home-team-image-container img{
   width: 100%;
   padding-top: 0.5rem;
}
.home-team-name{
    color: white;
}
.game-result-container{
    width: 30%;
}
.game-result-date-hafta,
.game-result-lig-stad
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.game-result-date-hafta{
    border-bottom: 0.1rem solid #707070;
}
.game-result-date-hafta p,
.game-result-lig-stad p{
    width: 50%;
}
.game-result-hafta,
.game-result-stadyum{
    text-align: end;
}
.game-result-skor{
    display: flex;
    width: 100%;
  align-items: center;
  border-bottom: 0.1rem solid #707070;

}
.game-result-skor-hometeam,
.game-result-skor-awayteam{
    display: flex;
    width: 45%;
    justify-content: space-AROUND;
    align-items: center;
}
.game-result-seperator{
    width: 10%;
    color: #14B02B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-result-skor-hometeam p,
.game-result-skor-awayteam p{
    color: white;
}
.game-result-skor-hometeam h2,
.game-result-skor-awayteam h2{
    color: #14B02B
}

.away-team-container{
    width: 35%;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}
.away-team-image-container{
    background-color: white;
    margin: auto 1rem;
    border-radius: 0.3rem;
    width: 20%;
}
.away-team-image-container img{
   width: 100%;
   padding-top: 0.5rem;
}
.away-team-name{
    color: white;
}
.macincele-content-container{
    display: flex;
    flex-direction: column;
}
.macincele-detay{
    width: 100%;
}

.macincele-tahmin-ev-sahibi h3,
.macincele-tahmin-deplasman h3,
.istatistikler-header,
.atılan-goller-header
{
color:#FFFFFF ;
background-color: #718093;
margin-bottom: 0;
padding-left: 0.5rem;
margin-top: 0.5rem;
}
.macincele-tahmin-ev-sahibi-box-container{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ortalama-goller,
.karşılıklı-gol,
.birbuçuk-üst,
.ikibuçuk-üst{
width: 21%;
text-align: center;
border: 1px solid  #718093;
background-color: #F5F6FA;
}
.ortalama-goller h3,
.karşılıklı-gol h3,
.birbuçuk-üst h3,
.ikibuçuk-üst h3{
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.3rem;
   color: #353B48
}
.ortalama-goller p,
.karşılıklı-gol p,
.birbuçuk-üst p,
.ikibuçuk-üst p
{
    padding-top: 0;
}
.ortalama-goller p:nth-child(2),
.karşılıklı-gol p:nth-child(2),
.birbuçuk-üst p:nth-child(2),
.ikibuçuk-üst p:nth-child(2)
 {
   color: #718093;
}
  .ortalama-goller p:nth-child(3),
  .karşılıklı-gol p:nth-child(3),
  .birbuçuk-üst p:nth-child(3),
  .ikibuçuk-üst p:nth-child(3) {
    color: #44BD32
   }
.macincele-istatistikler{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding-bottom: 1rem;
}
.istatistikler-ev-sahibi{
    width: 48%;
    background-color: #F5F6FA;
}
.istatistikler-ev-sahibi-sıralama h3{
   text-align: center;
   color: white;
   background-color: black;
}
.istatistikler-ev-sahibi-form{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

   .istatistikler-ev-sahibi-form table{
    border-collapse: collapse;
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
   }
   .istatistikler-ev-sahibi-form th,
   .istatistikler-ev-sahibi-form td{
   text-align: center;
   border: 1px solid #DCDDE1;
   }

.istatistikler-ev-sahibi-detay-stats{
margin-top: 1rem;
margin-bottom: 1rem;
width: 100%;
}

   .istatistikler-ev-sahibi-detay-stats table{
    border-collapse: collapse;
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
   }
   .istatistikler-ev-sahibi-detay-stats th,
   .istatistikler-ev-sahibi-detay-stats td{
    text-align: center;
    border: 1px solid #DCDDE1;
   }
   .macincele-atılan-goller{
       display: flex;
       justify-content: space-around;
       background-color: #F5F6FA;
      margin-top: 0.5rem;
   }
   .atılan-goller-ev-sahibi,
   .atılan-goller-kıyaslama,
   .atılan-goller-deplasman{
       width: 30%;
   }
   .atılan-goller-ev-sahibi h3,
   .atılan-goller-deplasman h3{
       margin-top: 0.5rem;
   }
   .atılan-goller-ev-sahibi p,
   .atılan-goller-deplasman p{
       border-bottom: 1px solid #44BD32;
       color: #718093;
   }
   .atılan-goller-deplasman{
       text-align: end;
   }
   .atılan-goller-kıyaslama{
      margin-top: 2rem;
     
   }


.macincele-ust-menu{
    background-color: #44BD32;
    width: 100%;
    display: flex;
    justify-content: center;
}
.macincele-puan-durumu{
background-color: #FFFFFF;
width: 100%;
margin-top: 0.5rem;
}
.mac-incele-puan-durumu-üst-header{
    background-color:#44BD32 ;
    color: white;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.macincele-puan-durumu-header{
display: flex;
padding-left: 0;
color: #718093
}
.macincele-puan-durumu-header-takım{
    width: 40%;
    display: flex;
}

.macincele-puan-durumu-header-takım-takım{
    padding-left: 0.5rem;
}

.macincele-puan-durumu-header-other{
    width: 58%;
    display: flex;
    justify-content: space-around;
}
.macincele-puan-durumu-header-other li{
    width: 7%;
}

.macincele-puan-durumu-elements{
    display: flex;
    padding-left: 0;
    border-bottom: 0.125rem solid #718093 ;
}

.macincele-puan-durumu-elements-pos-team{
    width: 40%;
    display: flex;
}
.macincele-puan-durumu-elements-pos-team-team{
    padding-left: 0.5rem;
}
.macincele-puan-durumu-elements-other{
    width: 60%;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    color: #718093;
}
.macincele-puan-durumu-elements-other li{
    width: 8%;
}

@media(min-width:675px){

.macincele-header{
    width: 100%; 
    margin: 0 auto;
}
.macincele-sonuc{
    width: 100%;
    margin: 0 auto;
}
.macincele-content-container{
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
    border: 2px solid red;
}
.mac-incele-content-tab-detail{
    width: 100%;
    border: 1px solid blue;
}
.macincele-other{
    width: 50%;
    border: 1px solid yellow;
}
.macincele-detay{
    width: 100%;
}

}
