body {
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato';
  background-color: #D6D4D4
}

@import url('https://fonts.googleapis.com/css?family=Lato');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link{
  text-decoration: none;
  color: white;
}
li{
  list-style: none
}

img{
  max-width: 400px;
}


