.fikstürdetay-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
@media(min-width:675px){
    .fikstürdetay-container{
     display: flex;
     flex-direction: row;
     margin-top: 1rem;
     width: 70%;
     justify-content: space-around;
}
.fikstür{
    width: 70%;
}
.fikstürdetay-other{
    width: 25%;
    display: flex;
}
}