
.mac-detay{
    display: flex;
    width: 90%;
}
.ev-sahibi{
    margin-right: 3.5rem;
    display: flex;
}
.deplasman{
    display: flex;
    padding-right: 0;
}
.ev-deplasman{
  display: flex;
  margin: 0 auto;
}
  