.popüler-ligler-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.lig-kartları-container{
    display: flex;
    justify-content: space-between;

}
.lig-kart{
    width: 18%;
    display: flex;
    font-size: small;
    background-color: white;
    padding:1.7rem;
    border-radius: 0.3rem;
}
.lig-kart img{
    mix-blend-mode: multiply;
}