.popüler-ligler-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
}
.popüler-ligler-container h2{
    text-align: center;
}
.lig-kartları-container{
    display: flex;
    justify-content: space-between;
}
.lig-kart{
    width: 17%;
    display: flex;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
}
.lig-kart-image{
    mix-blend-mode: multiply;
    width: 40%;  
}
.lig-kart-image img{
    width: 100%;
}
.lig-kart-header{
    width: 60%;
    font-size: small;
    margin: auto 0;  
}
