.takımdetay-container{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}
.overallinfo-standing{
    order: 1;
}
.overallinfo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding-bottom: 1rem;
}
.overallinfo img{
 width: 20%;
}
.overallinfo p{
    margin: auto 1rem;
}
.overallinfo-header{
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.text-info{
    display: flex;
}
.lig,
.hoca,
.stat{
    display: flex;   
    margin-top: 0.5rem; 
}
.hoca,
.stat{
    margin-top: 0.5rem;
}
.stat-answer{
    padding-left: 15%
}
.lig-answer{
  padding-left: 2%;
}

.standing-takım table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color:#F1FFF1 ;
}
.standing-takım td{
  text-align: left;
  border: 1px solid #dddddd;
}
.head{
    background-color: white;
}
.standing-takım th{
    border: 1px solid whitesmoke
}
.standing-takım-header{
    background-color: #0A581B;
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

.standing-takım{
    width: 90%;
    margin: 1rem auto;
}
.games-squad{
    order: 2;
    margin: 0 auto;
    width: 90%;
}

.games p{
    background-color: #0A581B;
    color: white;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.games-table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color:#F1FFF1 ;
    font-size: small;
   }
.games-table th{
  border: 1px solid whitesmoke;
  text-align: left;
}
.games-table td{
    text-align: left;
    border: 1px solid #dddddd;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
  }

.games-tarih,
.games-hafta{
    display: none;
}  

.oyuncu-table{
    border-collapse: collapse;
    width: 100%;
}

.oyuncu-table td{
    text-align: left;
    border: 1px solid whitesmoke;
    font-size: x-small;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    background-color:#F1FFF1;
}

.oyuncu-header{
    background-color:#0A581B ;
    border: 1px solid whitesmoke;
    color: white;
    font-size: x-small;
    text-align: left;
}
.oyuncu-header th{
 border: 1px solid whitesmoke;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.2rem;
}
.squad-container{
    margin-top: 1rem;
}

.saha-container{
    position:  relative;
}

.kaleci,
.stoper,
.sağbek,
.solbek,
.ortasaha,
.sağkanat,
.solkanat,
.ofansif-ortasaha,
.forvet{
    position: absolute;
    color: white;
    font-size: x-small;
}

.ortasaha{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kaleci{
    top: 100;
    bottom: 30px;
    left: 157px;
    right: 0;   
}
.stoper{
    top: 100;
    bottom: 90px;
    left: 145px;
    right: 0;  
}
.sağbek{
    top: 100;
    bottom: 90px;
    left: 240px;
    right: 0;
}

.solbek{
    top: 100;
    bottom: 90px;
    left: 35px;
    right: 0;  
}

.sağkanat{
    top: 80px;
    bottom: 90px;
    left: 240px;
    right: 0;

}
.solkanat{
    top: 80px;
    bottom: 90px;
    left: 35px;
    right: 0;  
}

.ofansif-ortasaha{
    top: 100px;
    bottom: 90px;
    left: 145px;
    right: 0;  
}

.forvet{
    top: 40px;
    bottom: 90px;
    left: 145px;
    right: 0;  
}

.saha-container img{
    width: 90%;
    padding-left: 1rem;
}

@media(min-width:675px){
 .takımdetay-container{
   flex-direction: row;
   width: 70%;
  
}
.overallinfo-standing{
    order: 2;
    margin: 0 auto;
    width: 40%;
}
.games-squad{
   align-items: center;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.games{
    width: 90%;
   
}
.games table{
    font-size: medium
}
.squad-container{
    width: 90%;
}

.oyuncu-header{
    font-size: medium
}

.oyuncu-table td{
    font-size: medium
}
.kaleci,
.stoper,
.sağbek,
.solbek,
.ortasaha,
.sağkanat,
.solkanat,
.ofansif-ortasaha,
.forvet{
    font-size: medium;
}

}

