.navigation-container{
    background-color: #0A581B;
}

.logo{
    margin: 0.5rem;
    font-size: 1.5rem;
}

.logo-icons{
    display: flex;
    justify-content: space-around;
}
.icons{
    display: flex;
    margin: 1rem;
    color: white;
    font-size: 1.5rem;
}
.icons div+div{
    margin-left: 1rem;
   
}
.nav-elements{
    padding-bottom: 0.5rem;
    display: none;
}
.nav-elements li{
    text-align: center;
    margin: 15px auto;
}

@media(min-width:675px){
    .navigation-container{
        display: flex;
        justify-content: space-around;
       padding-top: 0.5rem;
        
    }
    .logo{
        width: 30%;
       
    }
    .icons{
        display: none;
    }
    .nav-elements{
        display: flex;
        justify-content: flex-end;
        width: 90%;      
    }
    .nav-elements li {
     margin: 0;
     padding-right: 1.5em;
     padding-top: 0.2em;

    }
    .logo-login{
      display: flex;
      border-bottom: 1px solid white;
      justify-content: space-around;
 
    }
    .logo-login-link{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}